# APIs, Big Data, and Databases

Data is everywhere, and being able to go and get it is quite a useful skill in your toolbelt. 

Beneath is a tutorial that shows us how we can access some weather data for Melbourne, via the Open Weather API (https://openweathermap.org/api). 

Being able to get external data is useful as it allows you to draw different insights from your internal data, with something like correlation analysis. For example, a cafe owner could use this API to overlay historic sales data with weather patterns data, allowing them to draw correlations between product sales and temprature variations. In turn, they could optimise pricing promotions and inventory management with these new-found insights, helping to improve their top and/or bottom line.

### Databases we cover

Because basically all data retrived from APIs comes in JSON format, I demonstrated how we can store it in both JSON-form as well as structued form (think an Excel spreadsheet).

#### JSON form

**MongoDB via the MongoDB API** 

A NoSQL Database that allows us to store data into JSON form. The flexibility of such a database is pretty powerful, as it means we don't have to architect a rigid SQL schema for our data to fill. For developers, this means they can spend more time building their applications and features and less time worrying about the back-end.

#### Tabular form

**Google Sheets via the Google Sheets API** 

This API allows us to read and write data to Google Sheets via its API. The code here looks less Pythonic as the developers wrote in camel case - the Java/Javascript/Typescript standard.

**CSV:** 

Writing data to a CSV file.

### Getting set up

In [31]:
from api_utils.apikey import API_KEY
from api_utils.gsheets_spreadsheet import GSHEETS_ID
from api_utils.mongo_db_password import MONGO_DB_PASSWORD
import requests # 
import json #
from datetime import datetime, timedelta #
import pandas as pd #

In [21]:
# View all columns along width of dataframe
pd.set_option('max_columns', None)

In [22]:
# Define the longitude of Melbourne
longitude = 144.9578
# Define the latitude of Melbourne
latitude = -37.8082
# import hidden API key for best-ptractice security
apiKey = API_KEY

In [23]:
def retrieve_data():
    
        url = f"https://api.openweathermap.org/data/2.5/onecall?lat={latitude}&lon={longitude}&exclude=hourly,minutely&units=metric&appid={apiKey}"
        data = requests.get(url=url)
        info = json.loads(data.text)

        to_store = info['daily']

        return to_store

# Call my function and store the result in the variable 'data_dict' (because it's a JSON file/Python dictionary that contains my data)
data_dict = retrieve_data()

# Access and print the first record in the dictionary
data_dict[0]

{'dt': 1658714400,
 'sunrise': 1658697996,
 'sunset': 1658733987,
 'moonrise': 1658688420,
 'moonset': 1658722080,
 'moon_phase': 0.89,
 'temp': {'day': 14.77,
  'min': 9.73,
  'max': 14.91,
  'night': 11.56,
  'eve': 11.99,
  'morn': 9.73},
 'feels_like': {'day': 13.9, 'night': 11.07, 'eve': 11.52, 'morn': 7.92},
 'pressure': 1012,
 'humidity': 61,
 'dew_point': 7.09,
 'wind_speed': 6.8,
 'wind_deg': 357,
 'wind_gust': 14.04,
 'weather': [{'id': 501,
   'main': 'Rain',
   'description': 'moderate rain',
   'icon': '10d'}],
 'clouds': 96,
 'pop': 1,
 'rain': 7.14,
 'uvi': 0.74}

We can see that all the key:value pairs relating to dates and times look a bit weird. This is because they appear to be in Unix datetime format. Thus, we need to write another small function to convert this into AEST format and update the values.

In [24]:
def convert_datetime(data_dict):
        dt_to_update = ['dt', 'sunrise', 'sunset', 'moonrise', 'moonset']
        for record in data_dict:
                for field in dt_to_update:
                        record[field] = (datetime.utcfromtimestamp(record[field])+timedelta(hours=10)).strftime('%Y-%m-%d %H:%M:%S')

convert_datetime(data_dict)
data_dict[0]

{'dt': '2022-07-25 12:00:00',
 'sunrise': '2022-07-25 07:26:36',
 'sunset': '2022-07-25 17:26:27',
 'moonrise': '2022-07-25 04:47:00',
 'moonset': '2022-07-25 14:08:00',
 'moon_phase': 0.89,
 'temp': {'day': 14.77,
  'min': 9.73,
  'max': 14.91,
  'night': 11.56,
  'eve': 11.99,
  'morn': 9.73},
 'feels_like': {'day': 13.9, 'night': 11.07, 'eve': 11.52, 'morn': 7.92},
 'pressure': 1012,
 'humidity': 61,
 'dew_point': 7.09,
 'wind_speed': 6.8,
 'wind_deg': 357,
 'wind_gust': 14.04,
 'weather': [{'id': 501,
   'main': 'Rain',
   'description': 'moderate rain',
   'icon': '10d'}],
 'clouds': 96,
 'pop': 1,
 'rain': 7.14,
 'uvi': 0.74}

## Storing in JSON format

### MongoDB API

In [29]:
import pymongo

# Writes JSON object to local MongoDB database
def write_mongo_local(data_dict):

  myclient = pymongo.MongoClient(f"mongodb+srv://woz:{MONGO_DB_PASSWORD}@clusterinitial.mdrttii.mongodb.net/?retryWrites=true&w=majority")
  mydb = myclient["weather"]
  mycol = mydb["melb_hourly"]
  x = mycol.insert_many(data_dict)

  return x.inserted_ids

# Write test data to MongoDB Atlas cluster
write_mongo_local(data_dict)

[ObjectId('62de6d4838acf88c55ed1490'),
 ObjectId('62de6d4838acf88c55ed1491'),
 ObjectId('62de6d4838acf88c55ed1492'),
 ObjectId('62de6d4838acf88c55ed1493'),
 ObjectId('62de6d4838acf88c55ed1494'),
 ObjectId('62de6d4838acf88c55ed1495'),
 ObjectId('62de6d4838acf88c55ed1496'),
 ObjectId('62de6d4838acf88c55ed1497')]

## Storing in Tabluar format

Tabluar form.. structured form.. panel form.. in other words, like an Excel spreadsheet. 

Pandas as a neat method to convert JSON style data into such a form. Naturally, we access it with **pd.json_normalize**.. because we're normalsing the data.

In [33]:
# How the data currently is. This was ok for MongoDB (as NoSQL database), but it wont work for the highly structured Google Sheets and CSV
data_dict[0]

{'dt': '2022-07-25 12:00:00',
 'sunrise': '2022-07-25 07:26:36',
 'sunset': '2022-07-25 17:26:27',
 'moonrise': '2022-07-25 04:47:00',
 'moonset': '2022-07-25 14:08:00',
 'moon_phase': 0.89,
 'temp': {'day': 14.77,
  'min': 9.73,
  'max': 14.91,
  'night': 11.56,
  'eve': 11.99,
  'morn': 9.73},
 'feels_like': {'day': 13.9, 'night': 11.07, 'eve': 11.52, 'morn': 7.92},
 'pressure': 1012,
 'humidity': 61,
 'dew_point': 7.09,
 'wind_speed': 6.8,
 'wind_deg': 357,
 'wind_gust': 14.04,
 'weather': [{'id': 501,
   'main': 'Rain',
   'description': 'moderate rain',
   'icon': '10d'}],
 'clouds': 96,
 'pop': 1,
 'rain': 7.14,
 'uvi': 0.74,
 '_id': ObjectId('62de6d4838acf88c55ed1490')}

In [30]:
# Normalise our data_dict with the Pandas method pd.json_normalize and store the dataframe in the variable df_weather
df_weather = pd.json_normalize(data_dict)

# Print the top 3 rows of our newely normalise dataset
df_weather.head(3)

,dt,sunrise,sunset,moonrise,moonset,moon_phase,pressure,humidity,dew_point,wind_speed,wind_deg,wind_gust,weather,clouds,pop,rain,uvi,_id,temp.day,temp.min,temp.max,temp.night,temp.eve,temp.morn,feels_like.day,feels_like.night,feels_like.eve,feels_like.morn
0,2022-07-25 12:00:00,2022-07-25 07:26:36,2022-07-25 17:26:27,2022-07-25 04:47:00,2022-07-25 14:08:00,0.89,1012,61,7.09,6.80,357,14.04,"[{'id': 501, 'main': 'Rain', 'description': 'm...",96,1.00,7.14,0.74,62de6d4838acf88c55ed1490,14.77,9.73,14.91,11.56,11.99,9.73,13.90,11.07,11.52,7.92
1,2022-07-26 12:00:00,2022-07-26 07:25:50,2022-07-26 17:27:15,2022-07-26 05:43:00,2022-07-26 14:55:00,0.92,1014,72,4.94,7.85,272,15.44,"[{'id': 500, 'main': 'Rain', 'description': 'l...",100,0.63,0.73,0.73,62de6d4838acf88c55ed1491,9.87,7.59,11.16,8.79,10.11,7.59,6.74,5.84,8.95,4.95
2,2022-07-27 12:00:00,2022-07-27 07:25:03,2022-07-27 17:28:03,2022-07-27 06:34:00,2022-07-27 15:48:00,0.95,1021,82,7.58,5.18,279,11.34,"[{'id': 500, 'main': 'Rain', 'description': 'l...",100,0.82,0.52,1.43,62de6d4838acf88c55ed1492,10.58,6.95,14.19,11.61,11.61,7.10,9.83,10.94,10.78,5.86

In [34]:
# Drop the 'weather' column as I am not demo'ing how to unbundle a list of dictionaries here (observe weather column)
df_weather.drop(
    columns=['weather'], 
    inplace=True
    )

# Fill NaNs with 0, as Google Spreadsheets doesn't like us trying to give it a non-integer/string/date value
df_weather = df_weather.fillna(0)

# Print top 3 row to see how we've changed the dataframe
df_weather.head(3)

,dt,sunrise,sunset,moonrise,moonset,moon_phase,pressure,humidity,dew_point,wind_speed,wind_deg,wind_gust,clouds,pop,rain,uvi,_id,temp.day,temp.min,temp.max,temp.night,temp.eve,temp.morn,feels_like.day,feels_like.night,feels_like.eve,feels_like.morn
0,2022-07-25 12:00:00,2022-07-25 07:26:36,2022-07-25 17:26:27,2022-07-25 04:47:00,2022-07-25 14:08:00,0.89,1012,61,7.09,6.80,357,14.04,96,1.00,7.14,0.74,62de6d4838acf88c55ed1490,14.77,9.73,14.91,11.56,11.99,9.73,13.90,11.07,11.52,7.92
1,2022-07-26 12:00:00,2022-07-26 07:25:50,2022-07-26 17:27:15,2022-07-26 05:43:00,2022-07-26 14:55:00,0.92,1014,72,4.94,7.85,272,15.44,100,0.63,0.73,0.73,62de6d4838acf88c55ed1491,9.87,7.59,11.16,8.79,10.11,7.59,6.74,5.84,8.95,4.95
2,2022-07-27 12:00:00,2022-07-27 07:25:03,2022-07-27 17:28:03,2022-07-27 06:34:00,2022-07-27 15:48:00,0.95,1021,82,7.58,5.18,279,11.34,100,0.82,0.52,1.43,62de6d4838acf88c55ed1492,10.58,6.95,14.19,11.61,11.61,7.10,9.83,10.94,10.78,5.86

Now we have a dataframe that we are able to store in Google Sheets, a CSV, or a SQL database. 

There are stacks of different ways to do what I just did so if you find another way and it works, go for it (unless computation is an issue, then be critcal). 

This quickly becaomes the domain of Data Engineering, so if you wanted to work with datasets of 5-6 million rows plus, I recommend looking into learning Spark or PySpark.

### Google Sheets API

To work with the Google Sheets API, we must install a few packages first. More details can be found at the link below.

Google Sheets Developer Documentation: https://developers.google.com/sheets/api/quickstart/python

In [8]:
from googleapiclient.discovery import build
from google.oauth2 import service_account

Now that we have the requistie packages installed, we need to build our connection. 

Below is a function that, when called, accessed my specified Google Sheets (given by the SAMPLE_SPREADSHEET_ID variable which I have imported from another file - so nobody can stitch me up) and appends my data beneath the last row.

In [32]:
def appendValues(data):
    
        SCOPES = ['https://www.googleapis.com/auth/spreadsheets']
        SERVICE_ACCOUNT_FILE = 'keys.json'
        creds = None
        creds = service_account.Credentials.from_service_account_file(
                SERVICE_ACCOUNT_FILE, scopes=SCOPES)
        # The ID and range of a sample spreadsheet.
        SAMPLE_SPREADSHEET_ID = GSHEETS_ID
        service = build('sheets', 'v4', credentials=creds)
        # Call the Sheets API
        sheet = service.spreadsheets()
        result = sheet.values().append(
                spreadsheetId=SAMPLE_SPREADSHEET_ID,
                range ="Sheet2!A1", valueInputOption="USER_ENTERED",
                insertDataOption="INSERT_ROWS", body={"values": data}
                ).execute()

        return result

The Google Spreadsheets API documentation is clear that we must parse in a 2-dimensional array to our connection. This means we can't simply try move the whole dataframe at once. 

Instead, we must turn each row of data into a list, and then append each list into another list. The result is a list of lists, and in other words, a 2-dimensional array.

https://stackoverflow.com/questions/54610707/invalid-values-error-when-attempting-to-use-append-in-google-sheets-api

In [13]:
for index, row in df_weather.iterrows():
        list_of_lists = []
        to_update = row.to_list()
        list_of_lists.append(to_update)
        # print(to_update)

        appendValues(list_of_lists)

### CSV

In [15]:
df_weather.to_csv('weather_data.csv')